{% extends 'layout.html' %}

{% block content %}
<table class="table">
	<thead class="table-light table-bordered">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
			<th scope="col">Subject</th>
			<th scope="col">Message</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for data in contacts %}
	<tbody>
		<thead class="table-primary table-bordered">
			<tr>
				<td>{{data.id}}</td>
				<td>{{data.name}}</td>
				<td>{{data.email}}</td>
				<td>{{data.phone}}</td>
				<td>{{data.subject}}</td>
				<td>{{data.message}}</td>
				<td><a href="{{ url_for('delete_by_id', id=data.id) }}" type="button" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		</thead>
	</tbody>
	{% endfor%}
</table>
{% endblock %}